<a href="https://colab.research.google.com/github/wyt830/TKU-AI-411630600/blob/main/411630600%E5%90%B3%E4%BE%91%E6%BE%A4_%E6%9C%9F%E4%B8%AD%E5%B0%88%E9%A1%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **抽取寶可夢**

# **讀取資料夾**

In [15]:
import pandas as pd
df = pd.read_csv('pokemon.csv', encoding='big5')

In [56]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp_Attack,Sp_Defense,Speed
0,1,妙蛙種子,草,毒,318,45,49,49,65,65,45
1,2,妙蛙草,草,毒,405,60,62,63,80,80,60
2,3,妙蛙花,草,毒,525,80,82,83,100,100,80
3,4,小火龍,火,NaN,309,39,52,43,60,50,65
4,5,火恐龍,火,NaN,405,58,64,58,80,65,80
...,...,...,...,...,...,...,...,...,...,...,...
146,147,迷你龍,龍,NaN,300,41,64,45,50,50,50
147,148,哈克龍,龍,NaN,420,61,84,65,70,70,70
148,149,快龍,龍,飛行,600,91,134,95,100,100,80
149,150,超夢,超能力,NaN,680,106,110,90,154,90,130
150,151,夢幻,超能力,NaN,600,100,100,100,100,100,100

# **函式(Fuction)**

## **1.隨機抽一隻**

In [25]:
import random

In [63]:
df['Name']

0      妙蛙種子
1       妙蛙草
2       妙蛙花
3       小火龍
4       火恐龍
       ...
146     迷你龍
147     哈克龍
148      快龍
149      超夢
150      夢幻
Name: Name, Length: 151, dtype: object

In [64]:
random.choice(df['Name'])

'吉利蛋'

In [65]:
def pick_pokemon():
  return random.choice(df['Name'])

In [66]:
pick_pokemon()

'派拉斯特'

## **2.抽一隻指定屬性的寶可夢**

In [48]:
df[(df['Type 1'] == '冰') | (df['Type 2'] == '冰')].reset_index(drop=True)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp_Attack,Sp_Defense,Speed
0,87,白海獅,水,冰,475,90,70,80,70,95,70
1,90,大舌貝,水,冰,305,30,65,100,45,25,40
2,91,刺甲貝,水,冰,525,50,95,180,85,45,70
3,124,迷唇姐,冰,超能力,455,65,50,35,115,95,95
4,131,拉普拉斯,水,冰,535,130,85,80,85,95,60
5,144,急凍鳥,冰,飛行,580,90,85,100,95,125,85

In [67]:
def pick_pokemon(pokemon_type):
  df_candidates = df[(df['Type 1'] == pokemon_type) | (df['Type 2'] == pokemon_type)].reset_index(drop=True)
  return random.choice(df_candidates['Name'])

In [68]:
pick_pokemon('火')

'火恐龍'

In [69]:
df[df['Name'] == '火恐龍']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp_Attack,Sp_Defense,Speed
4,5,火恐龍,火,NaN,405,58,64,58,80,65,80

## **3.抽一隻攻擊和防禦高於特定數值的寶可夢**

In [70]:
def pick_pokemon(Attack, Defense):
  df_candidates = df[(df['Attack'] > Attack) & (df['Defense'] > Defense)].reset_index(drop=True)
  return random.choice(df_candidates['Name'])

In [71]:
pick_pokemon(50,90)

'急凍鳥'

In [72]:
df[df['Name'] == '急凍鳥']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp_Attack,Sp_Defense,Speed
143,144,急凍鳥,冰,飛行,580,90,85,100,95,125,85

In [73]:
pick_pokemon(90,50)

'大鉗蟹'

In [74]:
df[df['Name'] == '大鉗蟹']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp_Attack,Sp_Defense,Speed
97,98,大鉗蟹,水,NaN,325,30,105,90,25,25,50

In [75]:
pick_pokemon(Defense=90,Attack=50)

'鐮刀盔'

In [76]:
df[df['Name'] == '鐮刀盔']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp_Attack,Sp_Defense,Speed
140,141,鐮刀盔,岩石,水,495,60,115,105,65,70,80

## **4.一次抽好幾隻特定屬性的寶可夢**

In [77]:
def pick_pokemon(*pokemon_types):
  pokemons = []
  for pokemon_type in pokemon_types:
    df_candidates = df[(df['Type 1'] == pokemon_type) | (df['Type 2'] == pokemon_type)].reset_index(drop=True)
    pokemons.append(random.choice(df_candidates['Name']))
  return pokemons

In [78]:
pick_pokemon('火', '水', '草', '岩石')

['小火龍', '大鉗蟹', '妙蛙草', '化石盔']

## **5.抽一隻任選能力高於指定數值的寶可夢**

In [79]:
def pick_pokemon(**characteristics):
  df_candidates = df.copy()
  for key, value in characteristics.items():
    df_candidates = df_candidates[df_candidates[key] > value].reset_index(drop=True)
  return random.choice(df_candidates['Name'])

In [80]:
pick_pokemon(HP=50, Attack=50, Defense=80, Sp_Attack=100, Sp_Defense=80, Speed=40)

'霸王花'

In [81]:
df[df['Name'] == '霸王花']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp_Attack,Sp_Defense,Speed
44,45,霸王花,草,毒,490,75,80,85,110,90,50